@model Books
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Book</h2>
            <hr />
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label class="text-white" asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="text-white" asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label class="text-white" asp-for="Price"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Add</button>
            <a asp-controller="Book" asp-action="Books" class="btn btn-secondary" style="width:150px">
                Back
            </a>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
